extends layout 

block content
    div.section.has-background-danger
        .container
            div.error-content
                p.title.has-text-centered.has-text-light Oh no!
                p.subtitle.has-text-centered.has-text-light The page you are looking for doesn't exist!
                a(class='button is-link' href='/') Return Home 