body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  padding: 0.62rem;
  margin: 0;
}

a {
  color: #00b7ff;
}

#mapid {
  height: 32.25rem;
  width: 50rem;
}

div.card-header-icon {
  margin-right: 0.5rem;
  cursor: default;
}

.error-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
